<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.camposdegalicia.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>camposdegalicia</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Esta app usa notificaciones para recordarte tus recompensas diarias.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>location</string>
	</array>
</dict>
</plist>
